html {
  scroll-behavior: smooth;
  overflow-x:  hidden;
}

#root {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  height: 80px;
  background-color: rgb(12, 109, 33);
  color: #ffffff;
  display: flex;
}
.header-container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.header-container a, .footer-link {
  color: #ffffff;
  text-decoration: none;
  transition: all 1s;
  cursor: pointer;
}
.header-container a:hover {
  color: #ca931c;
}
.header-container a:hover {
  color: #df7a07;
}
.logo {
  text-transform: uppercase;
  font-size: 30px;
  text-decoration: underline;
}
.footer {
  width: 100vw;
  height: 80px;
  background-color: rgb(12, 109, 33);
}
.footer-container {
  width: 80%;
  height: 100%;
  margin: auto;
}
.footer-list {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.footer-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
}
.footer-item p {
  color: #ffffff;
}
.footer-p {
  margin-left: 10px;
}
.container {
  text-align: center;
  width: 80%;
  margin: auto;
}
.container p {
  text-align: left;
}
.container  h2 {
  text-align: center;
}
.create {
  max-width: 100%;
}
.footer-link:hover svg path {
  fill: #ca931c;
}
.footer-link:hover p {
  color: #ca931c;
}